// Bootstrap brand color customization

/*     brand Colors  -- adapted to Berkeley Palette            */

$brand-primary:              #0081c5 !default;
$brand-info:                 #5bcbd2 !default;
$brand-success:              green !default;
$brand-warning:              yellow !default;
$brand-danger:               orange !default;
$brand-rose:                 red !default;
$brand-inverse:              $black-color !default;
